# Python Cache
__pycache__

# VSCode Workspace
*.code-workspace

# MIDI files folder
# MIDI_files

# Plots
Plots

# graphml files
graphml_files

# SongArena - Used to place two files so that they can be compared
SongArena