# Python Cache
__pycache__

# Python Virtual Environment
.venv

# VSCode Workspace
*.code-workspace

# MIDI files folder
MIDI_files

# Plots
Plots

# graphml files
graphml_files

# Log file
MIDI_file_info.txt

# SongArena - Used to place two files so that they can be compared
SongArena

# Possible routes that are not to be considered for now
Music_Mapping_Higher_Order.py
Music_Mapping_Multilayer.py
pymnet

# NetF
Code/Music_NetF/NetF